.h1 {
  text-align: center;
  alignment: center;
  position: center;
  margin: 20px;
  padding: 20px;
}

.h2 {
  text-align: center;
  alignment: center;
  position: center;
  margin: 20px;
  padding: 20px;
}

#top-bar {
  position: absolute;
  width: 1vw;
  height: 100px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  width: 30vw;
}

#center-div {
  position: center;
  alignment: center;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

#div-logo-top {
  position: relative;
  alignment: center;
  margin: 20px;
  padding: 20px;
}

#logo-top {
  position: center;
  background: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 30vw;
}

#logo-top.hover {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  transform: scale(1.1);
  padding: 3px;
  border: 2px;
  box-sizing: border-box;
}

#authenticator {
  padding-top: 250px;
}
